<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mortgage Application</title>
</head>
<body>
<div class="container">
    <h1>Mortgages R Us</h1>
    <form action="/application_results" method="post">
        <input type="hidden" name="AppliedOnline" value="YES">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="Income">Income</label>
                    <input type="number" class="form-control" id="Income" name="Income" value=45081>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Residence">Residence</label>
                    <select class="form-control" id="Residence" name="Residence">
                        <option selected>Owner Occupier</option>
                        <option>Public Housing</option>
                        <option>Living with parents/guardian</option>
                        <option>Private Renting</option>
                        <option>Sheltered</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="Yrs_at_Current_Address">Years at Current Address</label>
                    <input type="number" class="form-control" id="Yrs_at_Current_Address" name="Yrs_at_Current_Address" value=14>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Yrs_with_Current_Employer">Years with Current Employer</label>
                    <input type="number" class="form-control" id="Yrs_with_Current_Employer" name="Yrs_with_Current_Employer" value=15>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="Number_of_Cards">Number of Credit Cards</label>
                    <input type="number" class="form-control" id="Number_of_Cards" name="Number_of_Cards" value=2>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Creditcard_Debt">Total Credit Card Debt</label>
                    <input type="number" class="form-control" id="Creditcard_Debt" name="Creditcard_Debt" value=713>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="Loans">Outstanding Loans</label>
                    <input type="number" class="form-control" id="Loans" name="Loans" value=1>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Loan_Amount">Loan Amount Requested</label>
                    <input type="number" class="form-control" id="Loan_Amount" name="Loan_Amount" value=8430>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="SalePrice">Sale Price</label>
                    <input type="number" class="form-control" id="SalePrice" name="SalePrice" value=140000>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="Location">Location Code</label>
                    <select class="form-control" id="Location" name="Location">
                        <option>L100</option>
                        <option>L101</option>
                        <option selected>L110</option>
                        <option>L111</option>
                        <option>L120</option>
                        <option>L121</option>
                        <option>L130</option>
                        <option>L131</option>
                        <option>L391</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Apply Now</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>